<h1>Hello, Rails!</h1>

<ul>
    <% @articles.map do |article| %>
    <li>
        <%# the `article_path` helper returns "/articles/#{article.id}" when given an article. %>
        <a href="<%= article_path(article) %>">
            <%= article.title %>
        </a>
    </li>

        <%# The `link_to` helper renders a link with its first argument as the link's text and its second argument as the link's destination. If we pass a model object as the second argument, `link_to` will call the appropriate path helper to convert the object to a path %>
    <li>
        <%= link_to article.title, article %> 
    </li>
    <% end %>
</li>